p{
    color: salmon
}

p:hover{
    color:blueviolet
}

div p:nth-child(2){
    color:black
}

p::first-letter{
    color: blue;
}

p::before{
    content: ":)";
}

p::after{
    content: "";
}

::placeholder{
    color: aqua;
}