/* body {
  margin: 0;
} */
div {
  background: salmon;
  width: 200px;
  height: 200px;
  margin: 20px;
}
/* a {
  background: skyblue;
  width: 200px;
  height: 200px;
  margin: 20px;
}
button {
  background: slateblue;
  width: 200px;
  height: 200px;
} */